@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Список продуктів</h1>

    @foreach (var product in Model)
    {
        <ul>
            <li>Id: @product.Id</li>
            <li>Name: @product.Name</li>
            <li>Price: @product.Price</li>
        </ul>
    }
</div>
